<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<style>


  
</style>

<body>
  <style>
    body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 4%, rgba(121,9,36,1) 95%);
 

    }
     .boton{
       border: 1px solid red;
       background-color:red;
       color: aliceblue;
       width: 200px;
       height: 100px;
       text-overflow: clip;
      } 
  </style>
  
<h1>Este es el cambio realizado a todo el documento</h1>

<a href="https://www.google.com" _blank>
  <button class="boton">Click</button>
</a>



</body>
</html>